@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

* { margin: 0; padding: 0; }

html
{
	background-image: -webkit-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -moz-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -ms-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -o-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
  
  
}

h1
{
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 25px;
	font-weight: 300;
	z-index: -1;
}

h1 span { color: #4DAF7C; font-weight: 400; }

/* Debug */

#debug
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4DAF7C), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #4DAF7C 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #4DAF7C 5%, #72b352 100%);
	background:-o-linear-gradient(top, #4DAF7C 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #4DAF7C 5%, #72b352 100%);
	background:linear-gradient(to bottom, #4DAF7C 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DAF7C', endColorstr='#72b352',GradientType=0);
	background-color:#4DAF7C;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #4DAF7C));
	background:-moz-linear-gradient(top, #72b352 5%, #4DAF7C 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #4DAF7C 100%);
	background:-o-linear-gradient(top, #72b352 5%, #4DAF7C 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #4DAF7C 100%);
	background:linear-gradient(to bottom, #72b352 5%, #4DAF7C 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#4DAF7C',GradientType=0);
	background-color:#4DAF7C;
}
.myButton:active {
	position:relative;
	top:1px;
}

#bootstrap-overrides{

background: #ffd89b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #19547b, #ffd89b)!important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #19547b, #ffd89b) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: #fff0 !important;
background: none !important;
}
#bootstrap-overrides {
	background-color: #fff0 !important;

}

