<!DOCTYPE html>
<head>

</head>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">




    	

        <title>Flask App</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    </head>
     <body id="bootstrap-overrides">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Please upload your JPG files!</h1>
                    {{ dropzone.create(action_view='index') }}
                </div>
            </div>
        </div>
    </body>
</html>