<html>

<head>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<div class="container">
   <h2>Progress Bar With Label</h2>
   <div class="progress" style="width: 50%; margin: 50px;">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
   </div>
</div>

<h1>Hello Results Page!</h1>
<a href="{{ url_for('index') }}">Back</a><p>
<a href="/predict"><button class='btn btn-default'>Predict</button></a>
<ul>

<p>Here is my variable: {{ variable }}</p>
{% for file_url in file_urls %}
    <li><img style="height: 150px" src="{{ file_url }}"></li>
{% endfor %}
</ul>






<script>
	$(document).ready(function(){
var interval = setInterval(update_progress, 2000);
	function update_progress() {
	     $.get('/progress').done(function(n){
	     	 var n = parseInt(n);
	         n = n / 1;  // percent value
	         //console.log(n)
	         if (n == 100) {
	            clearInterval(interval);
	            //callback(); // user defined
	         }
	         $('.progress-bar').css({'width': n +'%'}).attr('aria-valuenow', n);    
	     }).fail(function() {
	         clearInterval(interval);
	         //displayerror(); // user defined
	     });
	}
});
</script>


</html>

