body{
	background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#headline{
	margin:auto;
}

#jumbo-main{
	color: white;
	border-radius: 17px !important;
	margin-top: 30px;
	background-color: #0f0f0f66;
	text-align: center;
}

.dropzone {
    border: 1px dashed #FFF !important;
    margin: 10%;
    min-height: 300px !important;
    background: #fff6 !important;
	color: white;
	margin-top: 0px !important;

}
