
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">

            <title>Fashion-App</title>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>
  <body>
    <div class="row">
        <div class="col-8" id="headline">
            <div class="jumbotron" id="jumbo-main">
                  <h1 class="display-4">Fashion-App</h1>
                      <p class="lead">Your Download is ready!</p>
                      <a href="{{ url_for('index') }}"><button class='btn btn-default'>Back to Home</button></a>
                          <div class="container">

                      <p>Go ahead and download your results!</p>
                      <p class="lead">
                        
                        <a class="btn btn-primary btn-lg" href="/return-file/" role="button">Download</a>
                  </p>

                    </div>
                <hr class="my-4">

            </div>
        </div>
    </div>

            <div class="container">
            <div class="row" id="row1">
                <div class="col-12">
           
                </div>
                <div class="col-12">

                   
                   
                </div>
            </div>
        </div>







  </body>
</html>



