
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">

            <title>Fashionapp</title>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <script>

          function myFunction() {
              var x = document.getElementById("predict_button");
              if (x.style.display === "none") {
                  x.style.display = "block";
              } else {
                  x.style.display = "none";
              }
          }

       </script>
  </head>
  <body>
    <div class="row">
        <div class="col-8" id="headline">
            <div class="jumbotron" id="jumbo-main">
                  <h1 class="display-4">Fashion-App</h1>
                      <p class="lead">Please upload your JPG files!</p>
                         <a <button class='btn btn-default' href="{{ url_for('index') }}">Back</a>
                          <div class="container">

                      <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
                      <p class="lead">
                        <a class="btn btn-primary btn-lg" id="predict_button" href="/predict" onclick=myFunction() role="button">Predict</a>

                  </p>
                       <div class="progress" style="width: 100%; margin: 0px;">

                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
                       </div>
                    </div>
                <hr class="my-4">
                    {% for file_url in file_urls %}
                        <img style="height: 150px" src="{{ file_url }}" class="img-thumbnail">
                    {% endfor %}
            </div>
        </div>
    </div>

            <div class="container">
            <div class="row" id="row1">
                <div class="col-12">
           
                </div>
                <div class="col-12">

                   
                   
                </div>
            </div>
        </div>



         <script>
    $(document).ready(function(){
  var interval = setInterval(update_progress, 2000);
    function update_progress() {
         $.get('/progress').done(function(n){
           var n = parseInt(n);
             n = n / 1;  // percent value
             //console.log(n)
             if (n == 100) {
                clearInterval(interval);
                //callback(); // user defined
             }
             $('.progress-bar').css({'width': n +'%'}).attr('aria-valuenow', n);    
         }).fail(function() {
             clearInterval(interval);
             //displayerror(); // user defined
         });
    }
  });
  </script>




  </body>
</html>



